<h1>Bestellprozess</h1>

<p>wizard to be implemented in task 1</p>

<div class="wizard-container">
  <div class="flex flex-column bg-gray-100 p-5">
    @switch (currentWizardStep) {
      @case (wizardStep.TicketHolderForm) {
        <app-ticket-holder-form
          [formValue]="ticketHolder"
          (nextStep)="setCurrentWizardStep(wizardStep.TicketOptions)"
          (formChange)="setTicketHolder($event)"></app-ticket-holder-form>
      }
      @case (wizardStep.TicketOptions) {
        <app-ticket-options
          [ticketOption]="ticketOption"
          (ticketOptionChange)="setTicketOption($event)"
          (stepBack)="setCurrentWizardStep(wizardStep.TicketHolderForm)"
          (nextStep)="setCurrentWizardStep(wizardStep.BillHolderForm)"></app-ticket-options>
      }
      @case (wizardStep.BillHolderForm) {
        <app-bill-holder-form
          [formValue]="billHolder"
          [ticketHolder]="ticketHolder"
          (formChange)="setBillHolder($event)"
          (stepBack)="setCurrentWizardStep(wizardStep.TicketOptions)"
          (nextStep)="setCurrentWizardStep(wizardStep.OrderSummary)"></app-bill-holder-form>
      }
      @case (wizardStep.OrderSummary) {
        <app-order-summary
          [ticketHolder]="ticketHolder"
          [billHolder]="billHolder"
          (stepBack)="setCurrentWizardStep(wizardStep.BillHolderForm)"
          (submitWizard)="submitWizard()"></app-order-summary>
      }
    }
  </div>
</div>
