<form class="grid"
      [formGroup]="formGroup"
      (ngSubmit)="emitNextStep()">
  <h2 class="col-12">Ticketinhaber</h2>
  <div class="field col-12 lg:col-6">
    <label for="firstname">Vorname</label>
    <input type="text"
           id="firstname"
           formControlName="firstname"
           class="w-full"
           pInputText>
  </div>
  <div class="field col-12 lg:col-6">
    <label for="lastname">Nachname</label>
    <input type="text"
           id="lastname"
           formControlName="lastname"
           class="w-full"
           pInputText>
  </div>
  <div class="col-12">
    <div class="flex align-items-center gap-1">
      <p-checkbox inputId="adoptForBill"
                  formControlName="adoptForBill"
                  [binary]="true"></p-checkbox>
      <label for="adoptForBill" class="w-full">Ticketinhaber für Rechnungsinhaber übernehmen</label>
    </div>
  </div>
  <div class="flex justify-content-end w-full mt-5">
    <p-button type="submit"
              class="w-full md:w-auto"
              styleClass="w-full"
              [disabled]="!formGroup.valid "
              [label]="'Weiter'"></p-button>
  </div>
</form>
